/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/discover/discoverComponent.scss ***!
  \*****************************************************************************************************************************************/

/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
.header {
  padding: 20px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.header .nav__logo .nav__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .nav__logo .nav__logo-link img {
  height: clamp(20px, 2vw, 40px);
  margin-right: 5px;
}
.header .nav__logo .nav__logo-link p {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: bold;
  color: #046e1b;
}
.header .nav__links {
  display: flex;
  list-style: none;
  gap: clamp(20px, 5vw, 50px);
}
.header .nav__links a {
  text-decoration: none;
  color: #312f2f;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}
.header .nav__links .nav__item__link {
  transition: color 0.3s ease;
}
.header .nav__links .nav__item__link:hover {
  color: #fe5e54;
}
.header .nav__auth {
  display: flex;
  align-items: center;
}
.header .nav__auth .nav__search-box {
  padding: clamp(8px, 1vw, 12px);
  margin-right: 15px;
  border: 0px;
  background-color: transparent;
  color: #312f2f;
  font-size: clamp(0.875rem, 1vw, 1rem);
  border-radius: 4px;
}
.header .nav__auth .nav__search-image {
  padding-right: 20px;
}
.header .nav__auth .nav__login-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .nav__auth .nav__login-btn img {
  height: clamp(20px, 2vw, 30px);
}
.header .hero {
  display: flex;
  flex-wrap: wrap;
}
.header .hero__content {
  padding-top: clamp(100px, 10vw, 150px);
  max-width: 45%;
  flex: 1;
}
.header .hero__content h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  color: #312f2f;
  margin: 0px;
}
.header .hero__content p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  color: rgb(173, 173, 173);
  margin: 20px 0;
  max-width: 60%;
}
.header .hero__content p span {
  color: #f79f1a;
}
.header .hero__content .hero__btn {
  display: inline-block;
  padding: clamp(12px, 2vw, 20px) clamp(20px, 4vw, 40px);
  margin-top: clamp(20px, 4vw, 40px);
  background-color: #f79f1a;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 20px;
  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}
.header .hero__content .hero__btn:hover {
  background-color: #fe5e54;
}
.header .hero__images {
  position: relative;
  width: 100%;
  top: 20px;
  flex: 1;
}
.header .hero__image {
  width: 90%;
}
.header .hero__image-tomato {
  position: absolute;
  width: clamp(50px, 8vw, 100px);
  left: 10px;
}
.header .hero__btn,
.header .nav__link {
  transition: color 0.3s, background-color 0.3s;
}
.header .hero__btn:hover,
.header .nav__link:hover {
  color: #f3f3f3;
  background-color: #fe5e54;
}
@media (max-width: 1282px) {
  .header .nav {
    flex-direction: column;
    align-items: center;
  }
  .header .nav__logo-link {
    padding-left: 30px;
  }
  .header .nav__links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header .nav__auth {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .header .nav__auth .nav__search-box {
    width: auto;
  }
  .header .hero {
    flex-direction: column;
    text-align: center;
  }
  .header .hero__content {
    max-width: 100%;
    padding-top: 50px;
  }
  .header .hero__content p {
    max-width: 100%;
  }
  .header .hero__content .hero__btn {
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .header .hero__images {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header .hero__image {
    width: 100%;
  }
  .header .hero__image-tomato {
    position: relative;
    width: 50px;
    left: auto;
  }
}

body {
  font-family: Arial, sans-serif;
  color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
