@use "../../scss/variables.scss" as var;

.navigation-container {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;

    &__logo {
      .nav__logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
          height: clamp(20px, 2vw, 40px);
          margin-right: 5px;
        }

        p {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
          font-weight: bold;
          color: var.$green-color; // Assuming $green-color is defined in variables.scss
        }
      }
    }

    &__links {
      display: flex;
      list-style: none;
      gap: clamp(20px, 5vw, 50px);

      a {
        text-decoration: none;
        color: var.$secondary-color; // Assuming $secondary-color is defined in variables.scss
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;

        &:hover {
          color: var.$red-color; // Assuming $red-color is defined in variables.scss
        }
      }
    }

    &__auth {
      display: flex;
      align-items: center;

      .nav__search-box {
        padding: clamp(8px, 1vw, 12px);
        margin-right: 15px;
        border: 0;
        background-color: transparent;
        color: var.$secondary-color;
        font-size: clamp(0.875rem, 1vw, 1rem);
        border-radius: 4px;
      }

      .nav__search-image {
        padding-right: 20px;
      }

      .nav__login-btn {
        background: transparent;
        border: none;
        cursor: pointer;

        img {
          height: clamp(20px, 2vw, 30px);
        }
      }
    }
  }
}
