@use "../../scss/variables.scss" as var;
@use "../../scss//mixins.scss" as mixin;

.header {
  .hero {
    display: flex;
    flex-wrap: wrap;

    &__content {
      padding-top: clamp(100px, 10vw, 150px);
      max-width: 45%;
      flex: 1;

      h1 {
        font-size: clamp(2rem, 5vw, 3.5rem);
        font-weight: bold;
        color: var.$secondary-color;
        margin: 0px;
      }

      p {
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        color: var.$secondary-text-color;
        margin: 20px 0;
        max-width: 60%;

        span {
          color: var.$orange-color;
        }
      }

      .hero__btn {
        @include mixin.primary-button;
        margin-top: clamp(20px, 4vw, 40px);
      }
    }

    &__images {
      position: relative;
      width: 100%;
      top: 20px;
      flex: 1;
    }

    &__image {
      width: clamp(70%, 90%, 100%);
    }

    &__image-tomato {
      position: absolute;
      width: clamp(50px, 8vw, 100px);
      left: 10px;
    }
  }

  .hero__btn,
  .nav__link {
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: var.$primary-color;
      background-color: var.$red-color;
    }
  }

  @media (max-width: 1282px) {
    .hero {
      flex-direction: column;
      text-align: center;

      &__content {
        max-width: 100%;
        padding-top: 50px;

        p {
          max-width: 100%;
        }

        .hero__btn {
          margin-top: 20px;
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &__images {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 20px;
      }

      &__image {
        width: 100%;
      }

      &__image-tomato {
        position: relative;
        width: 50px;
        left: auto;
      }
    }
  }
}
