@use "../scss/variables.scss" as var;

@mixin primary-button {
  display: inline-block;
  padding: clamp(12px, 2vw, 20px) clamp(20px, 4vw, 40px);
  background-color: var.$orange-color;
  color: var.$primary-color;
  text-decoration: none;
  border-radius: 20px;
  font-size: clamp(1.25rem, 1.5vw, 1.4rem);
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var.$red-color;
  }
}
