@use "../scss/variables.scss" as var;
@use "../components/headerComponent/headerComponent.scss";

body {
  font-family: Arial, sans-serif;
  color: var.$primary-color;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
